<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <div class="navbar fixed-top" align="center" style="background-color: #011689 !important; margin-left:auto; margin-right: auto" id="navbar">
        <div class="container" align="center" style="display: flex; justify-content: left;">
          <div class="row" align="center">
            <div class="col-12" style="display: flex; justify-content: center; align-content: center; flex-direction: column;">
              <a class="navbar-brand mx-auto">
                <img src="https://www.espci.psl.eu/sites/www.espci.psl.eu/squelettes/IMG/img2016/espci_blason-83.png" alt="">
              </a>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>

<script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      var element = document.getElementById("containerInicial");
      console.log("element");
      element.classList.remove("d-block");
      if (document.body.scrollTop > 1 || document.documentElement.scrollTop > 1) {
        document.getElementById("navbar").style.marginTop = "0%";
      } else {
        document.getElementById("navbar").style.marginTop = "2%";
      }
    }
</script> -->
